<h1>Chart Builder</h1>
<p>
  Choosing more than 4 statistic to display on one axis can get messy.<br>
  Try a simpler chart or add a secondary Y-axis.
</p>
<form
   mn-spinner="chartBuilderCtl.viewLoading"
   ng-submit="chartBuilderCtl.create()">
  <h4>Stats to Display</h4>
  <ul>
    <li ng-repeat="stat in chartBuilderCtl.statsDirectoryBlock.stats track by stat.name">
      <input
         id="stat-{{stat.name}}-checkbox"
         type="checkbox"
         ng-true-value="{{stat | json}}"
         ng-model="chartBuilderCtl.newChart.stats[$index]"><label for="stat-{{stat.name}}-checkbox">{{stat.title}}</label>
    </li>
  </ul>
  <h4>Select Size</h4>
  <input
     type="radio"
     id="chart-small-radio"
     ng-model="chartBuilderCtl.newChart.size"
     value="120">
  <label
     for="chart-small-radio">S</label>
  <input
     type="radio"
     id="chart-medium-radio"
     ng-model="chartBuilderCtl.newChart.size"
     value="270">
  <label
     for="chart-medium-radio">M</label>
  <input
     type="radio"
     id="chart-large-radio"
     ng-model="chartBuilderCtl.newChart.size"
     value="450">
  <label
     for="chart-large-radio">L</label>
  <div>
    <a ng-click="$dismiss()">Cancel</a>
    <button type="submit">Display Selected Stats</button>
  </div>
</form>
