<div id="headerNav">
  <div class="contents">
    <ul mn-pluggable-ui-tabs mn-tab-bar-name="adminTab">
      <li mn-tab="overview" class="line" ui-sref-active="currentNav">
        <a ui-sref="app.admin.overview">Overview</a>
      </li>
      <li mn-tab="servers" class="line" ui-sref-active="currentNav">
        <a class="switch_servers" ui-sref="app.admin.servers.list">Server Nodes</a>
      </li>
      <li mn-tab="buckets" class="line" ui-sref-active="currentNav">
        <a class="switch_buckets" ui-sref="app.admin.buckets">Data Buckets</a>
      </li>
      <li mn-tab="indexes" class="line" ng-class="{currentNav: ('app.admin.indexes' | includedByState)}">
        <a class="switch_views" ui-sref="app.admin.indexes.gsi" ng-show="rbac.cluster.indexes.read">Indexes</a>
        <a class="switch_views" ui-sref="app.admin.indexes.views.list" ng-show="rbac.cluster.indexes.read === false">Indexes</a>
      </li>
      <li mn-tab="replications" class="line" ui-sref-active="currentNav">
        <a class="switch_replications" ui-sref="app.admin.replications">XDCR</a>
      </li>
      <li mn-tab="security" class="line" ng-class="{currentNav: ('app.admin.security' | includedByState)}" ng-show="rbac.cluster.admin.security.read && (pools.isEnterprise || rbac.cluster.admin.security.write)">
        <a
          class="switch_security"
          ui-sref="app.admin.security.externalRoles"
          ng-show="pools.isEnterprise && adminCtl.poolDefault.ldapEnabled && poolDefault.compat.atLeast45">Security</a>
        <a
          class="switch_security"
          ui-sref="app.admin.security.internalRoles"
          ng-show="!(pools.isEnterprise && adminCtl.poolDefault.ldapEnabled && poolDefault.compat.atLeast45) && rbac.cluster.admin.security.write">Security</a>
        <a
          class="switch_security"
          ui-sref="app.admin.security.rootCertificate"
          ng-show="pools.isEnterprise && !(adminCtl.poolDefault.ldapEnabled && poolDefault.compat.atLeast45) && rbac.cluster.admin.security.write === false">Security</a>
      </li>
      <li mn-tab="logs" class="line" ng-class="{currentNav: ('app.admin.logs' | includedByState)}" ng-show="rbac.cluster.logs.read">
        <a class="switch_log" ui-sref="app.admin.logs.list">Log</a>
      </li>
      <li mn-tab="settings" id="nav_settings_container" class="line" ng-class="{currentNav: ('app.admin.settings' | includedByState)}">
        <a href="#?section=settings" ui-sref="app.admin.settings.cluster" class="switch_settings">Settings
          <span ng-show="adminCtl.updates.sendStats && !!adminCtl.updates.newVersion" class="badge notify"><span>!</span></span>
        </a>
      </li>
    </ul>
  </div>
</div>