<nav
   class="nav-sidebar hide-for-small"
   mn-pluggable-ui-tabs
   mn-tab-bar-name="adminTab">
  <h5>monitoring
      <a
         mn-tab="overview"
         ui-sref="app.admin.overview">Dashboard</a>
      <a
         mn-tab="logs"
         ui-sref="app.admin.logs.list"
         ng-show="rbac.cluster.logs.read">Log</a>
  </h5>
  <h5>cluster
      <a
         mn-tab="servers"
         ui-sref="app.admin.servers.list">Servers</a>
      <a
         mn-tab="replications"
         ui-sref="app.admin.replications">XDCR</a>
      <a
         mn-tab="settings"
         ui-sref="app.admin.settings.cluster">Settings
        <span
           ng-show="adminCtl.updates.sendStats && !!adminCtl.updates.newVersion"
           class="badge notify"><span>!</span></span>
      </a>
  </h5>
  <h5
     ng-show="rbac.cluster.admin.security.read && (pools.isEnterprise || rbac.cluster.admin.security.write)">security
    <a
       ng-show="poolDefault.ldapEnabled && poolDefault.compat.atLeast45 && rbac.cluster.admin.security.read && pools.isEnterprise"
       ui-sref="app.admin.security.externalRoles">External User/Roles</a>
    <a
       ng-show="rbac.cluster.admin.security.read && rbac.cluster.admin.security.write"
       ui-sref="app.admin.security.internalRoles">Internal User/Roles</a>
    <a
       ng-show="pools.isEnterprise"
       ui-sref="app.admin.security.rootCertificate">Root Certificate</a>
    <a
       ng-show="rbac.cluster.admin.security.read && poolDefault.compat.atLeast40 && pools.isEnterprise"
       ui-sref="app.admin.security.audit">Audit</a>
    <a
       ng-show="pools.isEnterprise && poolDefault.ldapEnabled && poolDefault.compat.atLeast40 && !poolDefault.compat.atLeast45 && rbac.cluster.admin.security.read"
       ui-sref="app.admin.security.ldap">LDAP Auth Setup</a>
  </h5>
  <h5>data
    <a
       mn-tab="buckets"
       ui-sref="app.admin.buckets">Data Buckets</a>
    <span mn-pluggable-ui-tabs mn-tab-bar-name="indexesTab">
      <a
         ng-show="rbac.cluster.indexes.read"
         ui-sref="app.admin.indexes.gsi">Global Indexes</a>
      <a
         ng-show="rbac.cluster.pools.read"
         ui-sref="app.admin.indexes.views.list">Views</a>
    </span>
  </h5>
</nav>
