<mn-header>
  <mn-breadcrumb>
    <span class="hide-for-small">Monitoring  &#62; </span>Chart Builder
  </mn-breadcrumb>
  <mn-controls>
    <a href="#">EXPORT</a>
  </mn-controls>
</mn-header>

<main>
  <div style="width: 200px;">
    <select
       ng-model="analyticsNewCtl.buckets.bucketsNames.selected"
       ng-change="analyticsNewCtl.onSelectBucket()">
      <option
         ng-repeat="bucketName in analyticsNewCtl.buckets.bucketsNames"
         value="{{bucketName}}">{{bucketName}}</option>
    </select>
    <ul>
      <li ng-repeat="block in analyticsNewCtl.statsDirectoryBlocks track by block.blockName">
        <input
           id="block-{{block.blockName}}-checkbox"
           type="checkbox"
           ng-model="analyticsNewCtl.showBlocks[block.blockName]"><label for="block-{{block.blockName}}-checkbox">{{block.blockName}}</label>
      </li>
    </ul>
  </div>
  <div style="width: calc(100% - 200px)";>
    <div
       ng-repeat="block in analyticsNewCtl.statsDirectoryBlocks track by block.blockName"
       ng-if="analyticsNewCtl.showBlocks[block.blockName]">
      <h4>
        <span>{{block.blockName}} Statistics</span>
        <span ng-click="analyticsNewCtl.openChartBuilderDialog(block.blockName)">+ Add Data Chart</span>
      </h4>
      <div
         ng-if="analyticsNewCtl.nodes"
         ng-repeat="(id, stats) in analyticsNewCtl.analyticsService.chartsByBlock[block.blockName]"
         mn-analytics-chart
         nodes="analyticsNewCtl.nodes"
         stats="stats"
         id="{{id}}"
         holder="analyticsNewCtl.analyticsService.chartsByBlock[block.blockName]">
      </div>
    </div>
  </div>
</main>
